#
# Class Templates
#

snippet cl "Class Template" !b
package ${1:package};

public class `!p snip.rv = snip.basename` ${2:extends ${3:Object}} {

	public `!p snip.rv = snip.basename`() {
		$0
	}

}
endsnippet

snippet main "Main Method" !b
public static void main(String[] args) {
	$0
}
endsnippet
