[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "bundle/vim-sparkup"]
	path = bundle/vim-sparkup
	url = http://github.com/bingaman/vim-sparkup.git
[submodule "bundle/Colour-Sampler-Pack"]
	path = bundle/Colour-Sampler-Pack
	url = https://github.com/vim-scripts/Colour-Sampler-Pack.git
[submodule "bundle/Command-T"]
	path = bundle/Command-T
	url = https://github.com/wincent/Command-T.git
[submodule "bundle/YankRing"]
	path = bundle/YankRing
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule "bundle/LustyJuggler"]
	path = bundle/LustyJuggler
	url = https://github.com/vim-scripts/LustyJuggler.git
[submodule "bundle/visual-star-search"]
	path = bundle/visual-star-search
	url = https://github.com/bronson/vim-visual-star-search.git
