[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "bundle/vim-sparkup"]
	path = bundle/vim-sparkup
	url = http://github.com/bingaman/vim-sparkup.git
[submodule "bundle/Colour-Sampler-Pack"]
	path = bundle/Colour-Sampler-Pack
	url = https://github.com/vim-scripts/Colour-Sampler-Pack.git
[submodule "bundle/YankRing"]
	path = bundle/YankRing
	url = https://github.com/vim-scripts/YankRing.vim.git
	ignore = dirty
[submodule "bundle/visual-star-search"]
	path = bundle/visual-star-search
	url = https://github.com/bronson/vim-visual-star-search.git
[submodule "bundle/clang_complete"]
	path = bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
[submodule "bundle/cocoa.vim"]
	path = bundle/cocoa.vim
	url = https://github.com/msanders/cocoa.vim.git
	ignore = dirty
[submodule "bundle/vim-qml"]
	path = bundle/vim-qml
	url = https://github.com/peterhoeg/vim-qml.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/base16-vim"]
	path = bundle/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/autoclose"]
	path = bundle/autoclose
	url = https://github.com/Townk/vim-autoclose.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
	ignore = dirty
[submodule "bundle/align"]
	path = bundle/align
	url = https://github.com/jezcope/vim-align.git
[submodule "bundle/PHP-Syntax-Garvin"]
	path = bundle/PHP-Syntax-Garvin
	url = https://github.com/vim-scripts/php.vim--Garvin.git
[submodule "bundle/vim-phpqa"]
	path = bundle/vim-phpqa
	url = https://github.com/joonty/vim-phpqa.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/gitgutter"]
	path = bundle/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/vimoutliner"]
	path = bundle/vimoutliner
	url = https://github.com/vimoutliner/vimoutliner.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/atp_vim"]
	path = bundle/atp_vim
	url = https://github.com/coot/atp_vim.git
	ignore = dirty
